/**
OVERRIDE
*/
/* Font-Face */
*{font-family: "儷黑 Pro","LiHei Pro",Meiryo,"微軟正黑體","Microsoft JhengHei",sans-serif;}

/* PreLoader Start */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
            animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
    -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);  /* IE 9 */
    transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}
#loader-wrapper .loader-section.section-left {
    left: 0;
}
#loader-wrapper .loader-section.section-right {
    right: 0;
}
/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-100%);  /* IE 9 */
            transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);  /* IE 9 */
            transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateY(-100%);  /* IE 9 */
            transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.3s 1s ease-out;
            transition: all 0.3s 1s ease-out;
}
/* PreLoader - JavaScript Turned Off */
.no-js #loader-wrapper {
    display: none;
}
/* PreLoader End */

/* Animation, Execution */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100%  {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      transform: translateY(-15px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
}
.bounce {
  animation: bounce 2s infinite;
}
body {
  max-height:100%;
  overflow: hidden;
}
#content-wrapper{
    margin-left: 0 !important;
}
/* Slider */
.jssora22l, .jssora22r {
    display: block;
    position: absolute;
    /* size of arrow element */
    cursor: pointer;
    overflow: hidden;
}
.jssora22l {display: none}
.jssora22r {bottom:5px}
.jssora22r i {
    color: white;
    font-size: 3em;
}


/* HEADER */
.section-block {
  position: absolute;
  top: 0;
  height: 2.2em;
  transition: top 0.2s;
  z-index: 2;
  width: 100%;
}
.section-block > div {
  width: 100%;
  margin: 0 auto;
  color: white;
  text-align: center;
  line-height: 2.2em;
  text-transform: uppercase;
  font-weight: 800;
}
.section-block.hide{
  top:-2.2em;
}
.orange {
  background-color: rgb(255,100,25);
}
.blue {
  background-color: rgb(80,125,190);
}
.btn-home {
  border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  width: 3.8em;
  height: 3.8em;
  position: absolute;
  right: 1.2em;
  bottom: 1.2em;
  cursor: pointer;
}
.btn-home i {
  color: white;
  position: absolute;
  line-height: 1.9em;
  text-align: center;
  width: 1.9em;
  font-size: 2em;
}
/* Main Navigation - Home Btn */
.main-nav {
  background-color: rgba(0,0,0,.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  z-index: 10;
  transition: top 0.5s, opacity 0.5s;
}
.main-nav h2 {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    font-size: 1.2em;
    letter-spacing: 0.2em;
}
.mui-row {
    margin: 0 2em;
}
.main-nav.hide {
  top: 100%;
  opacity: 0;
}
.btn-menu-out {
  border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  width: 3.8em;
  height: 3.8em;
  position: absolute;
  bottom: 0.8em;
  cursor: pointer;
  left: 46%;
}
.btn-menu-out i {
  color: white;
  position: absolute;
  line-height: 1.9em;
  text-align: center;
  width: 1.9em;
  font-size: 2em;
}
/* Main Nav */
.main-nav {height:100%;}
.main-nav-body .mui-row {
    max-width: 680px;
    margin: 0 auto;
    width: 70%;
}
.main-nav h2 {margin-top: 0}
.floater { float:left; height:50%; width:1px; /* only for IE7 */ }
.main-nav-body {  clear:both; position:relative; display: block; height: 100%; }
.main-nav-body .mui-row > div {
  position: relative;
  display: block;
  margin: 5px 0;
}
.mui-col-lg-1, .mui-col-lg-10, .mui-col-lg-11, .mui-col-lg-12, .mui-col-lg-2, .mui-col-lg-3, .mui-col-lg-4, .mui-col-lg-5, .mui-col-lg-6, .mui-col-lg-7, .mui-col-lg-8, .mui-col-lg-9, .mui-col-md-1, .mui-col-md-10, .mui-col-md-11, .mui-col-md-12, .mui-col-md-2, .mui-col-md-3, .mui-col-md-4, .mui-col-md-5, .mui-col-md-6, .mui-col-md-7, .mui-col-md-8, .mui-col-md-9, .mui-col-sm-1, .mui-col-sm-10, .mui-col-sm-11, .mui-col-sm-12, .mui-col-sm-2, .mui-col-sm-3, .mui-col-sm-4, .mui-col-sm-5, .mui-col-sm-6, .mui-col-sm-7, .mui-col-sm-8, .mui-col-sm-9, .mui-col-xs-1, .mui-col-xs-10, .mui-col-xs-11, .mui-col-xs-12, .mui-col-xs-2, .mui-col-xs-3, .mui-col-xs-4, .mui-col-xs-5, .mui-col-xs-6, .mui-col-xs-7, .mui-col-xs-8, .mui-col-xs-9{
  padding-left: 5px;
  padding-right: 5px;
}
.main-nav-item {
  display:block;
  width:100%;
  height:100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: background-image 0.5s;
  cursor: pointer;
}
.main-nav-item.item-01{
  background-image: url('../images/nav_01_off.png');
}
.main-nav-item.item-02{
  background-image: url('../images/nav_02_off.png');
}
.main-nav-item.item-03{
  background-image: url('../images/nav_03_off.png');
}
.main-nav-item.item-04{
  background-image: url('../images/nav_04_off.png');
}
.main-nav-item.item-05{
  background-image: url('../images/nav_05_off.png');
}
.main-nav-item.item-06{
  background-image: url('../images/nav_06_off.png');
}
.main-nav-item.item-07{
  background-image: url('../images/nav_07_off.png');
}
.main-nav-item.item-08{
  background-image: url('../images/nav_08_off.png');
}
.main-nav-item.item-09{
  background-image: url('../images/nav_09_off.png');
}
.main-nav-item.item-01:hover,
.main-nav-item.item-01:active{
  background-image: url('../images/nav_01_on.png');
}
.main-nav-item.item-02:hover,
.main-nav-item.item-02:active{
  background-image: url('../images/nav_02_on.png');
}
.main-nav-item.item-03:hover,
.main-nav-item.item-03:active{
  background-image: url('../images/nav_03_on.png');
}
.main-nav-item.item-04:hover,
.main-nav-item.item-04:active{
  background-image: url('../images/nav_04_on.png');
}
.main-nav-item.item-05:hover,
.main-nav-item.item-05:active{
  background-image: url('../images/nav_05_on.png');
}
.main-nav-item.item-06:hover,
.main-nav-item.item-06:active{
  background-image: url('../images/nav_06_on.png');
}
.main-nav-item.item-07:hover,
.main-nav-item.item-07:active{
  background-image: url('../images/nav_07_on.png');
}
.main-nav-item.item-08:hover,
.main-nav-item.item-08:active{
  background-image: url('../images/nav_08_on.png');
}
.main-nav-item.item-09:hover,
.main-nav-item.item-09:active{
  background-image: url('../images/nav_09_on.png');
}
/* News Feed */
div.news-feed {
  background-color: rgba(0,0,0,.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  z-index: 15;
  transition: top 0.5s, opacity 0.5s;
}
div.news-feed.hide {
  top: 100%;
  opacity: 0;
}
div.news-feed-body {
  clear: both;
  position: relative;
  display: block;
  height: 100%;
}
ul.news-feed {
    list-style: none outside none;
    padding: 0;
    max-width: 680px;
    margin: 0 auto;
    width: 70%;
    background-color: white;
    color: rgb(45, 45, 45);
}
ul.news-feed li {
    padding: 0.5em 0;
    font-size: 1.3em;
    border-bottom: 1px rgb(45,45,45) solid;
    margin: 0 0.5em;
}
li.news-feed-title {
    margin: 0 !important;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    color: white;
    border-bottom: 0 !important;
}
.sports li.news-feed-title {
    background-color: rgb(48, 117, 173);
}
ul.news-feed li:last-child {
    border-bottom: 0;
}
.news-feed a {
    color: black;
    text-decoration: none;
    transition: color 0.5s;
}
.news-feed a:hover {
    color: rgb(33, 150, 243);
    text-decoration: none;
}

/* TRAFFIC PAGE */
.section-traffic {
    position: relative;
    height: 100%;
    display: block;
}
nav.app-bar {
    line-height: 2.5em;
}
.app-bar.traffic {
  background-color: rgb(255, 212, 0);
  height: 3.5em;
  position: absolute;
  z-index: 10;
  width: 100%;
}
.app-bar-icon {
    position: relative;
}
.app-bar-icon.left {
  float:left;
}
.app-bar-icon.right {
  float:right;
}
.app-bar-icon i.current {
  color: white;
}
.app-bar-title {
    line-height: 3.5em;
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
}
.app-bar-icon i {
    position: relative;
    width: 1.7em;
    line-height: 1.7em;
    text-align: center;
    font-size: 2em;
    color: rgb(53, 53, 53);
}
.app-bar-title {
  line-height: 3em;
  display: block;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 4px;
  z-index: 10;
  position: relative;
}
#googleMap {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  z-index: 0;
}
.btn-home.orange.traffic {
    bottom: 7em;
}
input#pac_input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: calc(100% - 4em);
    position: relative;
    top: 4em;
    z-index: 10;
    line-height: 3em;
    border: 0;
    margin: 0 2em;
}
input#pac_input:before {
    content: "\f00d";
    color: black;
}
.close-search-icon {
  cursor: pointer;
}
.close-search-icon:before {
    display: block;
    width: 2em;
    height: 2em;
    position: absolute;
    z-index: 10;
    right: 1.5em;
    top: 3.3em;
    margin: auto;
    padding: 2px;
    text-align: center;
    color: grey;
    font-weight: normal;
    cursor: pointer;
    font-size: 1.5em;
}
input#pac_input:not(:valid) ~ .close-search-icon {
	display: none;
}
.message-panel {
  background-color: rgb(228, 228, 228);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.2em 0.5em;
  height: 5em;
  z-index: 5;
}
.message-box {
  padding: 1em 1.2em;
  position: relative;
  height: 100%;
}
.message-box i {
  position: absolute;
  left: 1em;
  top: 0.7em;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 10;
  font-size: 2em;
  color: grey;
}
input#message_input {
  border: 0;
  line-height: 36px;
  width: 75%;
  float: left;
  position: relative;
  padding-left: 3em;
}
button.send-message {
    float: right;
    position: relative;
    width: 20%;
    height: 100%;
    border: 0;
    background-color: rgb(255, 212, 0);
    font-size: 1.2em;
}
.message-group {
    position: absolute;
    bottom: 4em;
    width: 100%;
}

.message-body {
    position: relative;
    width: auto;
    min-width: 50%;
    margin-left: 1.8em;
    margin-bottom: 2em;
    vertical-align: baseline;
    display: inline-block;
}
.message-detail {
    background-color: rgba(0,0,0,.5);
    display: block;
    position: relative;
    z-index: 5;
    padding: 0.2em;
    border-radius: 5px;
    margin-bottom: 15px;
        min-width:56%;
}
.profile-pic {
  border-radius: 50%;
  max-height: 30px;
  max-width: 30px;
  overflow: hidden;
  float: left;
  margin: 0.2em;
}
.profile-pic img {
    width: 100%;
}
.message-content {
    color: white;
}
.message-content p {
    line-height: 14px;
    font-weight: lighter;
    margin: 0.2em 0;
    font-size: 12px;
}
.message-content span{
    display:block;
    width:100%;
    color:rgb(228, 228, 228);
    font-size: 10px;
}
div.live-traffic {
  background-color: rgba(0,0,0,.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  z-index: 15;
  transition: top 0.5s, opacity 0.5s;
}
div.live-traffic.hide {
  top: 100%;
  opacity: 0;
}
div.live-traffic-body {
  clear: both;
  position: relative;
  display: block;
  margin: 0 1.2em;
}
.recent-locations {
    width: 80%;
    margin: 0 auto;
}
.live-traffic-body h2 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: 900;
  font-size: 1.2em;
  letter-spacing: 0.2em;
  margin-top: 0;
  margin-bottom: 0;
}
.traffic-options {
    background-color: white;
    padding: 0.2em 0;
    margin-bottom: 0.4em;
}
.traffic-options label {
    color: grey;
    font-size: 0.8em;
    display: block;
    padding-left: 1em;
}
.traffic-options select {
  border: 0;
  background-color: white;
  color: black;
  margin-left: 0.8em;
  width: calc(100% - 1.6em);
  height: 1.6em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
      font-size: 1.1em;
      outline: none;
}
.traffic-options select:focus {
    outline: none;
}
.traffic-options i {
    position: absolute;
    color: grey;
    right: 0.3em;
    font-size: 2em;
    margin-top: -0.1em;
}
.live-traffic-video {
    position: relative;
}
.live-ltraffic-ocation {
    position: absolute;
    top: 1em;
    left: 1em;
    text-shadow: 1px 1px black;
    font-size: 1.2em;
}
.live-traffic-video {
  text-align: center;
}
.live-traffic-video img {
    width:70%;
    height:auto;
}
.cameras-location {
  background-color: rgba(0,0,0,.6);
  margin-bottom: 1em;
  position: relative;
}

.mui-row.nomargin {
    margin: 0 !important;
}
.location-pic {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.3;
	background-size: cover;
}
.cameras-location > div {
    text-align: center;
}
.placeText {letter-spacing: 1px;}
.place-01 {
  background-image:url('../images/H207F.JPG');
  background-size: cover;
}
.place-02 {background-image:url('../images/H207F.JPG');
background-size: cover;
}
.place-03 {background-image:url('../images/H207F.JPG');
background-size: cover;
}
.place-04 {background-image:url('../images/H207F.JPG');
background-size: cover;
}
.place-05 {background-image:url('../images/H207F.JPG');
background-size: cover;
}
.place-06 {background-image:url('../images/H207F.JPG');
background-size: cover;
}

.article-body {
    position: relative;
    width: 33.33333%;
    float:left;
    overflow-y: scroll;
        height: 100%;
}
.article-visual {
    position: relative;
}
.article-visual img {
  width:100%;
  max-width:100%;
    height:100%;
}
.article-content {
    position: relative;
    padding: 3em 0;
}
.article-content h2 {
  margin: 0 1em 0.5em 1em;
  font-size: 2.6em;
  font-weight: 100;
  line-height: 1.2em;
}
span.article-info {
    margin-left: 3.2em;
    display: block;
    font-size: 0.8em;
    color: grey;
}
.article-content p {
    margin: 2em;
    font-size: 1.2em;
}
.article-tag {
    margin-left: 2em;
}
.article-tag span {
    margin-right: 1em;
}
.article-tag span a {
    color:grey;
    text-decoration: none;
}
.article-tag span a:hover,
.article-tag span a:active {
    color:orange;
    text-decoration: none;
}
ul#pages {
    margin: 0;
    padding: 0;
}

/* RESPONSIVE CONDITIONS */
@media screen and (min-width:600px) {
  html {
    max-width: 600px;
    margin: 0 auto;
    background-color: black;
    position: relative;
  }
}



/**
 * Dragdealer.js 0.9.8
 * http://github.com/skidding/dragdealer
 *
 * (c) 2010+ Ovidiu Cherecheș
 * http://skidding.mit-license.org
 */
 #image-carousel .handle {
     width: 300%;
     height: 100%;
     border-radius: 0;
 }


.dragdealer {
  position: relative;
  height: 30px;
  background: #EEE;
}
.dragdealer .handle {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.dragdealer .red-bar {
  width: 100px;
  height: 30px;
  background: #CC0000;
  color: #FFF;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.dragdealer .disabled {
  background: #898989;
}
